/* =========================================================
   VARIÁVEIS
========================================================= */


:root {
    --preto : #0B0D0F; /* fundo principal */
    --grafite : #171A1D; /* cards/seções */
    --cinza-metalico : #8B9299; /* textos secundários */
    --branco : #F5F5F5; /* textos/titulos */
    --azul-eletrico : #1479FF; /* botões/destaques */
}

/* =========================================================
   BODY
========================================================= */

html,
body {
    height: 100%;
}

main {
    flex: 1;
}

body {
    background-color: var(--preto);
    color: var(--branco);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* =========================================================
   HEADER
========================================================= */

header {
    background-color: var(--preto);
    color: var(--branco);
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
}

nav {
    letter-spacing: 1px;
    padding: 0px 30px;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav a {
    font-family: "Teko", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--branco);
    text-decoration: none;
    transition: color 0.3s ease-out;
}

nav a:hover {
    color: var(--azul-eletrico);
}

.logo img {
    height: 110px;
}

.btn-agendar {
    background-color: var(--azul-eletrico);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    padding: 12px 18px;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
}

.btn-agendar:hover {
    background-color: var(--branco);
    color: var(--azul-eletrico);
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

/* =========================================================
   HERO
========================================================= */

h1,
h2 {
    font-family: "Teko", sans-serif;
    font-weight: 700;
}

.hero h1::after {
    content: "";
    display: block;
    width: 250px;
    height: 5px;
    background-color: var(--azul-eletrico);
    margin-top: 15px;
}

.hero h1 {
    letter-spacing: 1px;
    font-size: 124px;
    margin-bottom: 0px;
    padding-left: 86px;
    padding-top: 44px;
    line-height: 92px;
}

.hero h2 {
    font-size: 42px;
    padding-top: 13px;
    padding-left: 86px;
    font-weight: 500;
    line-height: 0px;
}

.hero h3 {
    font-size: 20px;
    line-height: 0.9;
    padding-left: 86px;
    font-weight: 600;
    color: var(--cinza-metalico)
}

.hero-bmw {
    position: absolute;
    top: 270px;
    right: 20px;
    width: 47%;
    height: auto;
    z-index: 0;

    filter:
    drop-shadow(0 0 4px var(--azul-eletrico))
    drop-shadow(0 0 12px var(--azul-eletrico));
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-destaques h4 {
    font-family: "Teko", sans-serif;
    font-weight: 550;
    font-size: 24px;
    height: 5px;
}

.hero-destaques p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--cinza-metalico);
}

.hero-destaques {
    display: flex;
    letter-spacing: 1px;
    padding-left: 86px;
    padding-top: 44px;
    gap: 20px;
}

.destaque-icone img {
    padding-top: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
}

.destaque {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* =========================================================
   FOOTER
========================================================= */

footer {
    background-color: var(--preto);
    color: var(--branco);
    padding: 20px;
    text-align: center;
}